<div class="container">
    <div class="quadrado-externo1">
        <div class="quadrado-interno">
            <div class="retangulo-horizontal-cinza">
                <div class="linha-horizontal-preta"></div>
            </div>
            <div class="retangulo-horizontal2-cinza">
                <div class="retangulo-horizontal3-cinza">
                    <div class="numero-container">
                        <span class="numero-texto">Número</span>
                        <div class="quadradinhos">
                            <div class="quadradinho"></div>
                            <div class="quadradinho"></div>
                            <div class="quadradinho"></div>
                        </div>
                    </div>
                    <div class="nome-container">
                        <span class="nome-texto">Nome:</span>
                        <div class="linha-nome"></div>
                    </div>
                    <div class="quadrado-horizontal-cinza">
                        <div class="quadrado-fotos"></div>
                    </div>
                </div>
            </div>
        </div> <!-- Quadrado interno preto dentro do quadrado externo 1 -->
    </div>

    <div class="quadrado-externo2">
        <div class="retangulo-vertical-cinza">
            <div class="botoes-numeros">
                <button>9</button>
                <button>8</button>
                <button>7</button>
                <button>6</button>
                <button>5</button>
                <button>4</button>
                <button>3</button>
                <button>2</button>
                <button>1</button>
                <button>0</button> <!-- O botão 0 agora está abaixo do botão 2 -->
            </div>
        
            <div class="retangulo-horizontal-cinza-botoes">
                <div class="botoes-conclusão-votação">
                    <button>Branco</button>
                    <button>Corrige</button>
                    <button>confirma</button>
                </div>
            </div>
        </div>
    </div>
</div>

