<div class="container">

    <div class="quadrado-externo1">
        
        <div class="quadrado-interno">

            <div class="retangulo-horizontal-cinza">
                <div class="linha-horizontal-preta"></div>
                <div class="profissao-container">
                    <span class="profissao-texto">{{ selectedCharacter ? selectedCharacter.profession : 'Nenhuma profissão' }}</span>
                </div>
            </div>

            <div class="retangulo-horizontal2-cinza">

                <div class="retangulo-horizontal3-cinza">
                    <div class="numero-container">
                        <span class="numero-texto">Número</span>
                        <div class="quadradinhos">
                            <div class="quadradinho">{{ inputValues[0] || '0' }}</div>
                            <div class="quadradinho">{{ inputValues[1] || '0' }}</div>
                            <div class="quadradinho">{{ inputValues[2] || '0' }}</div>
                        </div>
                    </div>

                    <div class="nome-container">
                        <div class="nome-texto">Nome:</div>
                        <div class="linha-nome-container">
                            <div class="character-name">{{ selectedCharacter ? selectedCharacter.name : 'Nenhum' }}</div>
                            <div class="linha-nome"></div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="quadrado-horizontal-cinza">
                <div class="quadrado-foto">
                    <img *ngIf="selectedCharacter" [src]="selectedCharacter.image" alt="{{ selectedCharacter.name }}" class="foto-personagem" /> 
                </div>
            </div>
        </div>
    </div>

    <div class="quadrado-externo2">
        <div class="retangulo-vertical-cinza">
            <div class="botoes-numeros">
                <button *ngFor="let numero of numeros" (click)="adicionarNumero(numero)">{{ numero }}</button>
            </div>
        
            <div class="retangulo-horizontal-cinza-botoes">
                <div class="botoes-conclusão-votação">
                    <button (click)="limparNumeros()">Branco</button>
                    <button (click)="corrigirNumeros()">Corrige</button>
                    <button (click)="confirmarNumeros()">Confirma</button>
                </div>
            </div>
        </div>
    </div>
</div>