
<div class="container">
  <app-botoes></app-botoes>
  <app-botoes-urna></app-botoes-urna>
  <app-fotos></app-fotos>
  <app-profissao-numero-nome></app-profissao-numero-nome>
</div>

  <div class="quadrado-externo1">
      
    <div class="quadrado-interno">
        <div class="botoes"></div>

      <div class="retangulo-horizontal-cinza">
        <div class="linha-horizontal-preta">
          
          <div class="botoes-urna"></div>
        </div>
      
          </div>

          <div class="retangulo-horizontal2-cinza">
            <div class="fotos"></div>

              <div class="retangulo-horizontal3-cinza">
                <div class="profissao-numero-nome"></div>
                  
                  </div>

                  <div class="nome-container">
                      
          </div>

          <div class="quadrado-horizontal-cinza">
              
          </div>
      </div>
  </div>

  <div class="quadrado-externo2">
      
      
          <div class="retangulo-horizontal-cinza-botoes">
              
      </div>
  </div>
</div>